/* temporary borders */
.main-content{
    border: 2px solid black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

body{
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar{
    height: auto;
    display: grid;
    grid-template-rows: 10% 30% 20% ;
    grid-column: 1/2;
    grid-row: 1/7;
    background-color: rgb(30, 153, 205);
    font-size: 19px;
    padding-left: 60px;
}

span>img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(243deg) brightness(102%) contrast(102%);
}

span{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom:12px ;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.logo{    
    font-size: 25px;
    font-weight: bolder;
    justify-self: start;

}

.navigation-links,.logo,.branding-links{
    display: grid;
    align-content: center;
}

.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgb(234, 234, 234);
    }
    
.searchbar{ 
    grid-area: 1 / 1 / 2 / 3; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.profile-info { 
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.more-profile-info{ 
    grid-area: 2 / 1 / 3 / 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header-buttons{ 
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.searchbar-input{
    width: 70%;
    height: 50%;
    margin-left: 20px;
    margin-right: 80px;
    padding-left: 20px;
    border-radius: 20px;
    background-color: rgb(209, 207, 207);
    border-style: none;
}

button{
    width: 15%;
    height: 30%;
    border-radius: 20px;
    border-style: none;
    background: rgb(30, 153, 205);
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.text{
    font-weight: bold;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: fit-content;
    padding-left: 20px;
    }
    
.project-board{ 
    grid-area: 1 / 1 / 5 / 3;
    
}
.announcement { 
    grid-area: 1 / 3 / 3 / 4;
    padding-left: 20px;
}
.trending { 
    grid-area: 3 / 3 / 5 / 4; 
    padding-left: 20px;
}

.project-card{
    width: 400px;
    height: 180px;
    border-radius: 10px;
    border-left: 8px solid rgb(241, 199, 49);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding-left: 5px;
    box-shadow: 1px 2px 14px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 2px 14px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 2px 14px 0px rgba(0,0,0,0.2);
}

.project-svg{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
}

.project-board{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 0px;
}

h3{
    position: absolute;
    font-weight: bolder;
    font-size: larger;
    margin-top: 5px;
    margin-left: 2px;
}